APP_DEBUG = false
SQL_LOG = false
DB_NAME = mysql
DB_DRIVER = mysql
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_DATABASE = 
DB_USERNAME = root
DB_PASSWORD = 
DB_COLLATION = utf8mb4_general_ci
DB_CHARSET = utf8mb4
DB_PREFIX = yi_
SERVER_LISTEN = http://0.0.0.0:8787
CHANNEL_PORT = 2206