
<div style="margin: 10px;">
    <b>{:lang('Scene')}：</b>
    <a-radio-group v-model="query.scene">
        <a-radio-button value="">{:lang('All')}</a-radio-button>
        <a-radio-button v-for="(item,index) in scenes" :key="index" :value="item">{{item}}</a-radio-button>
    </a-radio-group>

</div>
<div style="margin: 10px;">  
    <b>{:lang('Group')}：</b>  
    <a-radio-group v-model="query.group">
        <a-radio-button value="">{:lang('All')}</a-radio-button>
        <a-radio-button v-for="(item,index) in groups" :key="index" :value="item">{{item}}</a-radio-button>
    </a-radio-group>
</div>